*/pnr/*.cmd*
*/pnr/*.log*
*/pnr/*.logv*
*/pnr/*.fp.spr
*/pnr/*lef
*/pnr/*.rpt
*/pnr/*.rpt.old
*/pnr/saved_design
*/pnr/timingReports
*/pnr/outputs
*/sim/.simvision
*/sim/*.svwf
*/sim/xcelium.d
*/sim/xrun*
*/sim/waves.shm
*/syn/*.cmd*
*/syn/fv
*/syn/outputs
*/syn/*.log*
*/syn/.rs_j05003sx.tstamp
Col_encoder_basic/pnr/Col_encoder_basic.antenna.lef
Col_encoder_basic/pnr/Col_encoder_basic.antenna.rpt
Col_encoder_basic/pnr/Col_encoder_basic.checkPlace
Col_encoder_basic/pnr/Col_encoder_basic.conn.rpt
Col_encoder_basic/pnr/Col_encoder_basic.conn.rpt.old
Col_encoder_basic/pnr/Col_encoder_basic.drc.rpt
Col_encoder_basic/pnr/Col_encoder_basic_layout_pin_#2/
Col_encoder_basic/pnr/Col_encoder_basic_layout_pins/
Col_encoder_basic/pnr/completed_layout_col_encoder/
Col_encoder_basic/pnr/detail_routed/
Col_encoder_basic/pnr/post_CTS_unrestricted/



